<!DOCTYPE html>
<html>
    <head>
        <title>Movies statistics app</title>

    </head>

    <body>
        <h1>{{ listname }}</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actors</th>
            </tr>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.name }}</td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.actors|join(', ') }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
