<!DOCTYPE html>
<html>
    <head>
        <title>Movies statistics app</title>
    </head>

    <body>
        <h1>{{ listname }}</h1>
        <table>
            <tr>
                <th>Customer</th>
                <th>Movie ID</th>
                <th>View time</th>
            </tr>
            {% for item in statistics %}
            <tr>
                <td>{{ item.customer }}</td>
                <td>{{ item.movies_id }}</td>
                <td>{{ item.viewtime }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
